/* import light mode themes */

@import url('./components/colors/light-mode/toggle.css');
@import url('./components/colors/light-mode/highlight.css');
@import url('./components/colors/light-mode/card.css');

html {
    color: var(--text);
}

nav {
    background-color: var(--text);
}

a {
    color: var(--background);
    transition: 0.3s;
}

a:hover {
    color: var(--light-blue);
    transition: 0.3s;
}

body {
    background-color: var(--background);
}