.type-important.dark-mode {
    border-color: var(--dark-mode-red);
    color: var(--dark-mode-red);
}

.type-trivia.dark-mode {
    border-color: var(--dark-mode-green);
    color: var(--dark-mode-green);
}

.highlight.dark-mode {
    background-color: var(--dark-mode-layer-1);
}