.card {
    margin: 1em 0.5em;
    padding: 0.75em 0.75em 0.75em 0.5em;
    border-left: 7px solid;
    border-radius: 7px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.icon {
    display: inline-block;
    text-align: center;
    width: 1.5em;
    font-size: 1.5em;
    margin: 0em 0.25em 0em 0em;
}

.card:hover {
    border-left: 10px solid;
    padding-left: 1em;
    transition: 0.3s;
}

/* handle colors of card components */

.card {
    border-color: var(--blue);
    color: var(--blue);
    background-color: var(--layer-1);
}

.card:hover {
    background-color: var(--layer-2);
    box-shadow: none;
}