nav {
    position: fixed;
    top: 0;
    padding: 0.5em 0em;
    width: 100%;
}

ul {
    padding: 0px;
    margin: 0em;
    width: fit-content;
}

.nav-link {
    list-style-type: none;
    display: inline;
    padding: 0 1em;
}

.nav-container {
    display: flex;
    margin: 0em auto;
    justify-content: center;
}

/* light mode colors */

nav.lightmode {
    background-color: var(--text);
}

a.lightmode {
    color: var(--background);
    transition: 0.3s;
}

a:hover.lightmode {
    color: var(--light-blue);
    transition: 0.3s;
}

/* dark mode colors */

nav.darkmode {
    background-color: var(--dark-mode-layer-1);
}

a.darkmode {
    color: var(--dark-mode-blue);
    transition: 0.3s;
}

a:hover.darkmode {
    color: #60a0ff;
    transition: 0.3s;
}