/* import component themes */

@import url('./components/colors/dark-mode/toggle.css');
@import url('./components/colors/dark-mode/highlight.css');
@import url('./components/colors/dark-mode/card.css');


:root {
    --dark-mode-background: #151515;
    --dark-mode-layer-1: #202020;
    --dark-mode-layer-2: #252525;
    --dark-mode-blue: #4080e0;
    --dark-mode-green: #50d050;
    --dark-mode-red: #d05050;
    --dark-mode-text: #c0c0c0;
    --dark-mode-light-gray: #e0e0e0;
}

html.dark-mode {
    color: var(--dark-mode-text);
}

body.dark-mode {
    background-color: var(--dark-mode-background);
}