:root {
    --dark-mode-background: #151515;
    --dark-mode-layer-1: #202020;
    --dark-mode-layer-2: #252525;
    --dark-mode-blue: #4080e0;
    --dark-mode-green: #50d050;
    --dark-mode-red: #d05050;
    --dark-mode-text: #c0c0c0;
    --dark-mode-light-gray: #e0e0e0;
}

html.dark-mode {
    color: var(--dark-mode-text);
}

nav.dark-mode {
    background-color: var(--dark-mode-layer-1);
}

a.dark-mode {
    color: var(--dark-mode-blue);
    transition: 0.3s;
}

a:hover.dark-mode {
    color: #60a0ff;
    transition: 0.3s;
}

body.dark-mode {
    background-color: var(--dark-mode-background);
}

.type-important.dark-mode {
    border-color: var(--dark-mode-red);
    color: var(--dark-mode-red);
}

.type-trivia.dark-mode {
    border-color: var(--dark-mode-green);
    color: var(--dark-mode-green);
}

.card.dark-mode {
    border-color: var(--dark-mode-blue);
    color: var(--dark-mode-blue);
}

.highlight.dark-mode {
    background-color: var(--dark-mode-layer-1);
}

.card:hover.dark-mode {
    background-color: var(--dark-mode-layer-2);
    box-shadow: none;
}

.toggle.dark-mode {
    background-color: var(--dark-mode-background);
}

.toggle-ball.dark-mode {
    background-color: var(--text);
    transition: 0.3s;
}

.toggle-background.dark-mode {
    background-color: var(--light-blue);
}

.toggle:hover .toggle-ball.dark-mode {
    background-color: var(--dark-mode-light-gray);
    transition: 0.3s;
}