:root {
    --background: #ffffff;
    --layer-1: #f5f5f5;
    --shadow: #e5e5e5;
    --blue: #2030d0;
    --light-blue: #80a0f0;
    --green: #10c020;
    --red: #c02010;
    --text: #303030;
}

html {
    color: var(--text);
}

nav {
    background-color: var(--text);
}

a {
    color: var(--background);
    transition: 0.3s;
}

a:hover {
    color: var(--light-blue);
    transition: 0.3s;
}

body {
    background-color: var(--background);
}

.type-important {
    border-color: var(--red);
    color: var(--red);
}

.type-trivia {
    border-color: var(--green);
    color: var(--green);
}

.card {
    border-color: var(--blue);
    color: var(--blue);
}

.highlight {
    background-color: var(--layer-1);
}

.card:hover {
    box-shadow: 0px 0px 3px 3px var(--shadow);
}

.toggle {
    background-color: var(--text);
}

.toggle-background {
    background-color: var(--layer-1);
}

.toggle-ball {
    background-color: var(--text);
    transition: 0.3s;
}

.toggle:hover .toggle-ball {
    background-color: var(--light-blue);
    transition: 0.3s;
}

.active {
    background-color: var(--light-blue);
}

.toggle .active .toggle-ball {
    background-color: var(--background);
}

.toggle:hover .active .toggle-ball {
    background-color: var(--text);
}