/* import light mode themes */

@import url('./components/colors/light-mode/toggle.css');
@import url('./components/colors/light-mode/highlight.css');
@import url('./components/colors/light-mode/card.css');

:root {
    --background: #ffffff;
    --layer-1: #f5f5f5;
    --shadow: #e5e5e5;
    --blue: #2030d0;
    --light-blue: #80a0f0;
    --green: #10c020;
    --red: #c02010;
    --text: #303030;
}

html {
    color: var(--text);
}

nav {
    background-color: var(--text);
}

a {
    color: var(--background);
    transition: 0.3s;
}

a:hover {
    color: var(--light-blue);
    transition: 0.3s;
}

body {
    background-color: var(--background);
}