<main>
    <article>
  
        <section class="global-container">
            <!-- Components of main page testing -->
  
            <h2 class="header subtitle">These elements will also be present in the webpages</h2>
            
            <!-- block cards should stay inside a container, 3 per row -->
  
            <div class="block-card-container">
                <!-- row of block cards -->
  
                <div class="highlight card block-card toggleable">
                    <h3>Card title</h3>
                    <span>this it the card description</span>
                </div>
                
                <div class="highlight card block-card toggleable">
                    <h3>Card title</h3>
                    <span>this it the card description</span>
                </div>
  
                <div class="highlight card block-card toggleable">
                    <h3>Card title</h3>
                    <span>this it the card description</span>
                </div>
            </div>
        </section>
    </article>
  </main>