<main>
    <article>
        <h1 class="header title">Welcome to my humble page, come on in!</h1>
  
        <section class="global-container">
            <!-- Main article of home page -->
  
            <h2 class="header subtitle">What is the purpose of this place?</h2>
  
            <p class="text">
                This website was built to get some familiarity back with basic front-end tools, while learning GIT 
                best practices along the way. In order to get some practice (and to really nail my understanding 
                down) I'll write a bunch of artiles and publish them here as well.
            </p>
  
            <p class="text">
                Hope this is as userful to you as is was for me. Once I'm done building this website, I'll study 
                other stuff, like angular development and production line best practices.
            </p>
            
            <p class="text">Feel free to stay for as long as you want!</p>
        </section>
  
        <section class="global-container">
            <!-- Components of main page testing -->
  
            <h2 class="header subtitle">These elements will also be present in the webpages</h2>
            
            <div class="highlight type-important toggleable">
                <!-- important highlight -->
  
                <i class="fa-solid fa-exclamation icon"></i>
                <span class="highlight-text">this is a highlighted text</span>
            </div>
  
            <div class="highlight type-trivia toggleable">
                <!-- trivia highlight -->
  
                <i class="fa-solid fa-question icon"></i>
                <span class="highlight-text">this is a highlighted text</span>
            </div>
  
            <div class="highlight card toggleable">
                <!-- highlighted card links, for in-article links -->
  
                <i class="fa-solid fa-link icon"></i>
                <span class="highlight-text">this it the card description</span>
            </div>
            
            <!-- block cards should stay inside a container, 3 per row -->
  
            <div class="block-card-container">
                <!-- row of block cards -->
  
                <div class="highlight card block-card toggleable">
                    <h3>Card title</h3>
                    <span>this it the card description</span>
                </div>
                
                <div class="highlight card block-card toggleable">
                    <h3>Card title</h3>
                    <span>this it the card description</span>
                </div>
  
                <div class="highlight card block-card toggleable">
                    <h3>Card title</h3>
                    <span>this it the card description</span>
                </div>
            </div>
        </section>
    </article>
  </main>